<!DOCTYPE html>
<html>
    <head>
        <title>
            lonely reader
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible"content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" >
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> 
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.3.1.min.css"/>
    </head>
    
    <body data-ws-port='{{port}}'>
        <div data-role='page' >
            <!-- <form action="/" method="POST" data-ajax='false' >
                <input type="url" data-clear-btn="true" name='url'  placeholder='add RSS URL'>
                <button data-icon="plus" data-role="button"  type='submit'>
                    Subscribe RSS
                </button>
            </form> -->
            
            <div data-role='collapsible-set'>
                <ul id="feedTree" data-role="listview" data-inset="true" data-tree='{{feedTree}}'></ul>
            </div>
            
        </div>
        
        <script type="text/javascript" src='/javascripts/jquery.min.js'></script>
        <script src='/javascripts/mustache.min.js'></script>
        <script src='/javascripts/index.js'></script>
        <script src="/javascripts/jquery.mobile-1.3.1.min.js"></script>
    </body>
</html>