<!DOCTYPE html>
<html>
    <head>
        <title>
            lonely reader
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        name="viewport">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 

        <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <form action="/" method="POST">
            <input type="text" name='url'>
            <button class='btn btn-primary' type='submit'>
                Add New Feed
            </button>
        </form>
        <div id="feedTree"></div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
        </script>
        <script src="/javascripts/jquery.form.js">
        </script>
        <script src='/javascripts/index.js'>
        </script>
    </body>
</html>